@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Shalimar&display=swap');

/* resertando as configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;

    --font-color: rgb(48, 48, 48);
    --color-primary: #ff99cc;
    --color-secondary: #33ccff;    
    font-size: 1.1em;
}

h1 img {
    width: 50px;
}

h1 {
    font-size: 3em;
    font-weight: 200;

    margin: 0;
    padding: 0;

    /* Definir um degradê como fundo */
    background-image: linear-gradient(to left, rgb(253, 21, 234), rgb(15, 132, 216), rgb(255, 254, 254));
    
    /* Apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

    /* Apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;

    /* Cor que contraste com o degradê, caso o navegador não suporte */
    color: black;  
}

body {
    /*height: 800px;*/
    display: grid;
    place-items: center; /* Deixa os itens no centro */    
}

/*main {
    width: 380px;    
    height: 800px;   
}*/
p, span {
    text-indent: 8%;
}

.container {    
    width: 380px;
    max-height: 800px;
    padding: 0px 10px 0px 10px;
    background: linear-gradient(to bottom, var(--color-secondary), var(--color-primary));

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 700px 50px 50px;    
}

.content {    
    text-align: center;
    color: var(--font-color);
}

.navegation {    
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
    align-items: center;    
}

.navegation a {    
    width: 24px;    
    text-decoration: none; /* remove o sublinhado do link */
}

.navegation a:first-child {
    justify-self: start;
}

.navegation a:last-child {
    justify-self: end;
}

.socialLinks {    
    align-self: end;
}

.navegation a:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }

ul {
    list-style: none;
    display: flex;

    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.clear {
    visibility: hidden;    
}
