@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Shalimar&display=swap');

/* resertando as configurações padrão */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;

    font-size: 1.6em;
    font-family: 'Caveat', cursive;
}

body {
    display: grid;
    place-items: center; /* Deixa os itens no centro */    
}

h1 {
    /*font-family: 'Caveat', cursive;*/
    /*font-size: 1.8rem;*/
}

p, span {
    /*font-family: 'Roboto', sans-serif;*/
    font-size: .7em;
    /*text-align: justify;*/
    text-indent: 8%;
}

.container {    
    padding: 10px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

    /*width: 375px;
    height: 812px;
    */
}

.content {    
    width: 378px;
    height: 540px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey);

    /*border: 1px solid white;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;    
}

.navegation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin-top: 60px;
}

.navegation a {
    color: var(--grey);
    text-decoration: none; /* remove o sublinhado do link */      
    width: 24px;
    /*height: 20px;*/

    justify-self: left;
    padding: 4px;
}

.navegation .arrow-right {
    justify-self: right;
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;

    display: flex;
    gap: .5rem;

    justify-content: space-evenly;
}

.left:hover, .right:hover {
    background-color: rgb(220, 171, 217);
    transition: 2ms;
    border-radius: 4px;
}
